<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="style/css">
    <script src="style/js"></script>
</head>

<body>
    <header>
     <div class="logo">Pet Haven</div>
        <nav>
            <!-- Same navigation as index.html -->
        </nav>
    </header>

    <main>
     <section>
    <!--About Section-->
    <section class="about" id="about">
     <div class="title">
          <h2 class="titetext">About Us</h2>
     </div>
     <div class="imgtext">
          <img src="https://i.postimg.cc/G2v0JHVQ/pexels-blue-bird-7210284.jpg" alt="">
          <div class="info">
               <div class="infocontent">
                    <h3>Natural<br>Ingredients</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem saepe, pariatur
                         sint odio natus atque iste. Error, ut repudiandae veritatis provident illo, totam nihil
                         porro saepe laborum aliquam rem eum.</p>
               </div>
               <div class="infocontent">
                    <h3>100% Home Made</h3>
                    <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, facilis!"</p>
               </div>
               <div class="infocontent">
                    <h3>Sourced In Kenya </h3>
                    <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, facilis!"</p>
               </div>
          </div>
     </div>
    </section>

    <footer>
        <p>&copy; 2024 Pet Haven. All rights reserved.</p>
    </footer>

</body>

</html>
